html,body{
	margin: 0px;
	font-family: 'Open Sans' sans-serif;
}
.be-red{
	background-color: rgb(200,50,50);
}
.white{
	color: white;
	}
	.large-padding{
	padding: 10 px 7px;
	}

	a:visited{
		color: inherit !important;
	}

.field{
	margin-top:1em;
}

